@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* The asterisk gets rid of defauly styling from the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* The most general of styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: "Montserrat", sans-serif;
}

.text-center {
    text-align: center;
}

.text-underline {
    text-decoration: underline;
}

em {
    color: aquamarine;
    font-weight: bold;
}

.slightpadding {
    padding: 5px;
}

/* These are styles relating to the header */
header {
    background-color: #c0dee5;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 2px #000000;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

h1,
h2,
h3 {
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000000;
    font-family: "EB Garamond", serif;
    font-weight: 700;


}

#header-logo {
    color: #794a1f;
    text-transform: uppercase;
}

header a {
    text-decoration: none;
    color: #794a1f;
    font-weight: 700;
}


/* Navigation Bar Design */
nav {
    position: absolute;
    background-color: #c0dee5;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #000000;
    display: none;
    top: 100%;
}

/* These are concerned with the navigation checkbox */
#navigation-toggle:checked~nav {
    display: block;
}

#navigation-toggle {
    display: none;
}

.navigation-toggle-label {
    font-size: 2rem;
}


main {

    flex: 1 0 auto;
    margin-top: 42px;
}

#navigation-menu {
    font-size: 90%;
    letter-spacing: 4px;
    list-style-type: none;
}

#navigation-menu>li {
    margin-bottom: 1em;
}

.nav-hover:hover {
    color: rgb(126, 8, 0);
}

/* This will be concerned with the hero image in the first section */
#torii-hero {
    height: 600px;
    width: 100%;
    background: url(../images/torii-5926892_1280.jpg) no-repeat center center/cover;
    position: relative;

}

#torii-hero-text {
    background-color: rgba(248, 225, 163, 0.7);
    position: absolute;
    min-height: 200px;
    width: 90%;
    bottom: 30px;
    padding-top: 20px;
    padding-left: 5px;

}

#torii-hero-text>h2 {
    text-align: center;
    text-transform: uppercase;
}

#torii-hero-header {
    color: #794a1f;
    font-weight: bolder;
}

.italix-style {
    color: rgb(116, 85, 49);
    font-size: 110%;
    padding-left: 10px;
    font-weight: 700;
}

/* This is CSS for the article underneath the hero */
#torii-intro {
    width: 100%;
    font-size: 100%;
    min-height: 200px;
    background-color: #c0dee5;
    padding: 5px;

}

#article-header {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-style: italic;
    padding: 10px;


}

.container {
    padding: 5px;
    background-color: rgb(116, 85, 49);
    width: 100%;
    box-shadow: 0px 2px 2px 0 #000000;
    color: white;


}

video {
    object-position: center;


}

/* Torii Information Section */
.box-containers {
    background-color: #c0dee5;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;

}

/* These are styles directly related to the torii-box-one div */
.torii-box-one {
    width: 100%;
    max-width: 350px;
    min-height: 1375px;
    background-color: rgb(116, 85, 49);
    color: white;
    margin: 10px;
    padding: 5px;
}

/* Torii Box One Image */
.torii-box-one img {
    width: 100%;
    height: 20%;
    object-fit: cover;
}

/* Torii Box One Header */
.torii-box-one h4 {
    font-size: 130%;
    font-style: italic;
    padding: 5px;
}

/* These styles relate to the torii-box-two div. */
.torii-box-two {
    width: 100%;
    max-width: 350px;
    min-height: 1350px;
    background-color: rgb(116, 85, 49);
    color: white;
    margin: 10px;
    padding: 5px;
}

/* Torii Box Two Header */
.torii-box-two h4 {
    font-size: 130%;
    font-style: italic;
    padding: 5px;
}

/* Torri Box Two Image */
.torii-box-two img {
    width: 100%;
    height: 20%;
    object-fit: cover;
}

#red-torii-image {
    width: 100%;
    height: 12%;
    margin-top: 25px;
    object-fit: cover;
}

.torii-box-three {
    width: 100%;
    max-width: 350px;
    height: 1300px;
    background-color: rgb(116, 85, 49);
    color: white;
    margin: 10px;
    padding: 5px;
}

/* Torii Box Three Header */
.torii-box-three h4 {
    font-size: 130%;
    font-style: italic;
    padding: 5px;
}


/* Torii Box Three Image */
.torii-box-three img {
    width: 100%;
    height: 20%;
    object-fit: cover;
}

#moss-torii-image {
    width: 100%;
    height: 15%;
    object-fit: cover;
    padding: 5px;
}

#myojin-image {
    width: 100%;
    height: 13%;
    object-fit: cover;
}

/* This relates to the torii list found in torii-box-one */
#torii-area-list {
    margin: 20px;
}

/* This relates to the torii list in torii-box-three */
.torii-listing {
    margin: 20px;
}

.list-gap {
    padding: 0.2rem;
}

/* CSS for the footer */

#network-list {
    text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  
}

#network-list i {
    font-size: 160%;
    color: rgb(116, 85, 49);
    padding: 5px;
}

footer {
    background-color:azure;
    padding: 20px 0;
}

/* Unique CSS for locations.html */
#locations-hero {
    background: url(../images/sea-7370549.jpg) no-repeat center bottom/cover;
    height: 600px;
    width: 100%;
    position: relative;
}

#locations-container {
    padding: 5px;
    min-height: 200px;
    background-color: rgb(116, 85, 49);
    width: 100%;
    box-shadow: 0px 2px 2px 0 #000000;
    color: white;
}

#locations-header {
    font-family:"Montserrat", sans-serif;
    color: white;
    font-style: italic;
    font-size: 100%;
    padding: 5px;
}

#crashing-wave-torii {
    object-position: bottom;
}

#inari-fox-image {
    height: 15%;
}

#senbon-torii {
    height: 12%;
}

/*Media Query for mobile phone screens (280px)*/
@media screen and (min-width: 280px) {

    .torii-box-one p {
    font-size: 14.5px;
}

.torii-box-two p {
    font-size: 14.5px;
}

.torii-box-three p  {
    font-size: 14.5px;
}

.torii-box-three li {
    font-size: 14.5px;
}

#moss-torii-image {
    height: 12%;
}

.list-gap {
    padding: 0.175rem;
}
}

/*Media Query for Mobile Devices (320px)*/
.mobile-view {
    height: 1750px;
}
/* Media Query for tablet devices and larger (768px) */
@media screen and (min-width: 768px) {

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #navigation-menu {
        display: flex;

    }

    #navigation-menu,
    li {
        padding-left: 1rem;
    }


    .navigation-toggle-label {
        display: none;
    }

    #header-logo {
        font-size: 270%;
        line-height: 75px;
        margin: 0 0.5rem;
        letter-spacing: 3px;
    }

    /* The main content is targeted now in this media query to make the main content push below the header */
    main {
        margin-top: 76px;
    }

    /* Hero text */
    #torii-hero-text {
        width: 30%;
    }

    /* CSS relating to the second paragraph within the article */
    .tablet-padding {
        padding: 5px;
        text-align: center;
    }

    /* This is relating to the torii boxes and their heights */

    .torii-box-one {
        width: 100%;
        max-width: 350px;
        min-height: 1275px;
        background-color: rgb(116, 85, 49);
        color: white;
        margin: 10px;
        padding: 5px;
    }
    .tablet-view {
        height: 1650px;
    }

    .torii-box-two {
        width: 100%;
        max-width: 350px;
        min-height: 1275px;
        background-color: rgb(116, 85, 49);
        color: white;
        margin: 10px;
        padding: 5px;
    }

    
    .torii-box-three {
        width: 100%;
        max-width: 350px;
        height: 1320px;
        background-color: rgb(116, 85, 49);
        color: white;
        margin: 10px;
        padding: 5px;
    }

    /* Images inside the torii boxes */
    #red-torii-image {
        width: 100%;
        height: 18%;
    }

    #myojin-image {
        width: 100%;
        height: 18%;
    }

    /* location.html media queries */
    #crashing-wave-torii {
        object-fit: cover;
    }

    
}


/* Media Query for screen sizes (992px or larger) */
@media screen and (min-width: 992px) {

    #navigation-menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    /* Introduction Section */
    #article-header {
        text-align: center;
        font-size: 120%;
    }

    video {
        object-fit: cover;
        height: 500px;
    }

    #myojin-image {
         height: 16%;
    }

    /* Torii Boxes*/
    .torii-box-one p {
    font-size:16px;
    }

    .torii-box-two p {
        font-size: 16px;
    }

    .torii-box-three p {
        font-size: 16px;
    }

    .torii-box-three li {
        font-size: 16px;
    }

    .list-gap {
        padding: 0.3rem;
    }

/* iframe */
iframe {
  height: 250px;
}
}